img{
    max-width: 100%;
}

#_header{
    background-color: white;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#_header .only_logo{
    width: 50px;
}

#_header ._logo{
    width: 130px;
}

#side_bar{
    width: 80px;
    height:calc(100vh - 80px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    color: white;
    overflow-y: auto;
}

.side_bar_lg{
    display: none;
}

#_header + * {
    margin-top: 80px;
}

#top_content{
    width: calc(100% - 80px);
    height:calc(100vh - 80px);
    overflow-y: auto;
}

#top_content .bg_container a{
    text-decoration: none; 
    color: white;   
}

#top_content .bg_container{
    color: white;
}

.fa-bell{
    color: #f49e0b;
}

.bg_color{
    background-color: #E9ECEF;
}

.bg_container{
    background-color: #1B72E8;
}

.text_small{
    font-size: .75rem;
    white-space: nowrap;
}

.text_xsmall{
    font-size: .7rem;
    white-space: nowrap;
}

._plane{
    background-color: #165BBA;
    padding: .1rem .70rem;
    border-radius: 1rem;
}

.plus{
    height: 25px;
    aspect-ratio: 1;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    line-height: 19px;
}

._square{
    width: 32px;
    height: 32px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.offcanvas.offcanvas-end{
    width: 100%;
    max-width: 768px;
}

.btn-warning{
    min-width: 60px;
}

.btn-success{
    min-width: 60px;
}

#top_content .fa-angles-right{
    font-size: .75rem;
}

.card-header{
    padding-left: .5rem;
}

.class_avatar{
    width: 28px;
}

.badge{
    font-weight: 400;
}

.table .col_large{
    text-align: left;
    width: 40%;
}

.col_medium{
    width: 25%;
}

@media screen and (min-width:992px) {
    #side_bar{
        width: 160px;
    }

    #main_content{
        height:calc(100vh - 160px);
    }

    .side_bar{
        display: none;
    }

    .side_bar_lg{
        display: block;
    }
}
